#our {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 150px;
  }
  .doc {
    color: rgb(255, 77, 0);
  }

  #filters {
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    margin: auto;
  }

  #pune {
    width: 250px;
    font-size: 17px;
    background-color: rgb(249, 118, 70);
    color: white;
    padding: 10px;
  }

  #doctors {
    width: 85%;
    margin: auto;
    margin-top: 50px;
  }

  .cardagain {
    display: flex;
    border: 1px solid rgb(221, 151, 71);
    margin: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .cardagain > div:nth-child(1) {
    text-align: center;
  }
 
  .cardagain > div img {
    width: 85%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid black;
    margin-top: 70px;
  }
  .cardagain > div {
    width: 50%;
    border: 1px solid rgb(244, 217, 143);
    padding: 20px;
    font-size: 17px;
    font-family: sans-serif;
    color: rgb(50, 49, 49);
  }
  .book {
    border: none;
    width: 200px;
    height: 40px;
    background-color: rgb(244, 126, 84);
    color: white;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 50px;
    cursor: pointer;
  }

  @media all and (min-width:531px) and (max-width:900px){
#navbar{
width: 100%;
position: sticky;
height: 100px;
margin: auto;
display: flex;
align-items: center;
background-color: rgb(121, 62, 62); 

}
#navbar>div a{ 
font-size: 15px;
}

#filters {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    margin: auto;
  }

#pune{
width: 150px;
font-size: 13px;
font-weight: bold;
}

.cardagain {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(221, 151, 71);

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .cardagain>div{
    margin: auto;
  }
  .book {
    border: none;
    width: 150px;
    height: 40px;
    background-color: rgb(244, 126, 84);
    color: white;
    font-size: 15px;
    margin-top: 30px;
    cursor: pointer;
  }
  .cardagain > div img {
    width: 85%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid black;
   margin-top: 0px;
  }
}

@media all and (min-width:100px) and (max-width:530px){
#navbar{
width: 100%;
position: sticky;
height: 150px;
margin: auto;
display: grid;
grid-template-columns: repeat(2,3fr);
align-items: center;
background-color: rgb(121, 62, 62); 
padding-left: 30px;

}
#navbar>div a{ 
font-size: 12px;
}

#filters {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(1,3fr);
    flex-wrap: wrap;
    height: 60px;
    margin: auto;
  }

#pune{
width: 160px;
font-size: 13px;
font-weight: bold;
}

#doctors{
padding-top: 30px;
}
.cardagain {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(221, 151, 71);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .cardagain>div{
    margin: auto;
    font-size: 12px;
  }

  .book {
    border: none;
    width:100px;
    height: 20px;
    background-color: rgb(244, 126, 84);
    color: white;
    margin-top: 30px;
    font-size: 10px;
    margin-left: 0px;
    cursor: pointer;
  }

  .cardagain > div img {
    width: 85%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid black;
   margin-top: 0px;
  }

}