body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url("https://img.freepik.com/free-photo/dentist-examining-patient-s-teeth_1098-568.jpg?w=996&t=st=1686846779~exp=1686847379~hmac=87b6345b1eaa16001d3ca402cc8f6dc61f658085e980e2c084169a37fa7fc816");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#img-div img{
    border-radius: 50%;
    width: 50%;
}
#img-div {
    width: 30%;
    /* border: 1px solid black; */
}
/* #flex{
    display: flex;
} */
.container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-color: #B3E5FC;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#main h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    animation-name: slideIn;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    color: #455A64; /* Set the text color to a nice shade */
    font-size: 30px; /* Adjust the font size as desired */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle text shadow */
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.container h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}
#dashboard-link {
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#dashboard-link:hover {
    background-color: #827717;
    
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.form-group textarea {
    height: 100px;
}

.form-group input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group input[type="submit"]:hover {
    background-color: #827717;

}